<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.teacher_plus.mapper.BasicInfoMapper">
    <select id="findList" resultType="com.hbq.teacher_plus.model.BasicInfo">
        select * from basic_info t
        order by t.id desc
    </select>
    <select id="findList2" resultMap="rm">
        select * from basic_info t
        left join work w on t.cu_id=w.cu_id
        where t.is_del=0
        <if test="p.name != null and p.name != ''">
            and t.name LIKE '%${p.name}%'
        </if>
        <if test="p.certNum != null and p.certNum != ''">
            and t.cert_num LIKE '%${p.certNum}%'
        </if>

        <if test="p.startTime != null and p.startTime != '' ">
            and w.work_time >= '${p.startTime}'
        </if>
        <if test="p.endTime !=null and p.endTime != '' ">
            and '${p.endTime}' >= w.work_time
        </if>
        order by t.id asc
    </select>
    <resultMap type="com.hbq.teacher_plus.vo.BasicInfoVo" id="rm">
        <id column="tid" property="id"/>
        <result column="cu_id" property="cuId"/>
        <result column="name" property="name"/>
        <result column="cert_type" property="certType"/>
        <result column="cert_num" property="certNum"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="skill_job" property="skillJob"/>
        <association property="work" javaType="com.hbq.teacher_plus.model.Work">
            <id column="wid" property="id"/>
            <result column="work_time" property="workTime"/>
            <result column="teach_time" property="teachTime"/>
            <result column="at_time" property="atTime"/>
            <result column="is_work" property="isWork"/>
            <result column="train" property="train"/>
            <result column="supervisor" property="supervisor"/>
        </association>
    </resultMap>
</mapper>