<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.teacher_plus.mapper.BasicInfoMapper">
    <select id="findList" resultType="com.hbq.teacher_plus.model.BasicInfo">
        select * from basic_info t
        order by t.id desc
    </select>
</mapper>