<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.teacher_plus.mapper.UsersMapper">
    <select id="findList" resultType="com.hbq.teacher_plus.model.Users">
        select * from users t
        order by t.id desc
    </select>
</mapper>